<div class="row">
    <div class="col" id="main-sidebar">
        <div class="list-group list-group-flush">
            <a href="/" class="list-group-item list-group-item-action"><i class="fa fa-home fa-lg fa-fw"></i> Home</a>
            <a href="/grid" class="list-group-item list-group-item-action"><i class="fa fa-star fa-lg fa-fw text-warning"></i> Editor's Choice</a>
            <a href="/categories" class="list-group-item list-group-item-action"><i class="fa fa-th fa-lg fa-fw"></i> Categories</a>
            <a href="/grid" class="list-group-item list-group-item-action sub">Computers</a>
            <a href="/grid" class="list-group-item list-group-item-action sub">Cell Phones</a>
            <a href="/grid" class="list-group-item list-group-item-action sub">Photography</a>
            <a href="/grid" class="list-group-item list-group-item-action sub">Home Entertainment</a>
            <a href="/grid" class="list-group-item list-group-item-action sub">Video Games</a>
            <div class="collapse" id="categories">
                <a href="/grid" class="list-group-item list-group-item-action sub">Headphones</a>
                <a href="/grid" class="list-group-item list-group-item-action sub">Office Electronics</a>
                <a href="/grid" class="list-group-item list-group-item-action sub">Office Supplies</a>
                <a href="/grid" class="list-group-item list-group-item-action sub">Musical Instruments</a>
            </div>
            <a href="#categories" class="list-group-item list-group-item-action sub toggle" data-toggle="collapse" aria-expanded="false">MORE &#9662;</a>
            <a href="/about" class="list-group-item list-group-item-action"><i class="fa fa-list fa-lg fa-fw"></i> Other Pages</a>
            <a href="/about" class="list-group-item list-group-item-action sub">About Us</a>
            <a href="/cart" class="list-group-item list-group-item-action sub">Cart</a>
            <a href="/checkout" class="list-group-item list-group-item-action sub">Checkout</a>
            <a href="/compare" class="list-group-item list-group-item-action sub">Compare</a>
            <a href="/contact" class="list-group-item list-group-item-action sub">Contact Us</a>
            <a href="/404" class="list-group-item list-group-item-action sub active">Error 404</a>
            <a href="/faq" class="list-group-item list-group-item-action sub">FAQ</a>
            <a href="/login" class="list-group-item list-group-item-action sub">Login / Register</a>

            <div class="collapse" id="pages">

                <a href="/account-profile" class="list-group-item list-group-item-action sub">My Profile</a>
                <a href="/account-order" class="list-group-item list-group-item-action sub">My Orders</a>
                <a href="/account-address" class="list-group-item list-group-item-action sub">My Address</a>
                <a href="/account-wishlist" class="list-group-item list-group-item-action sub">My Wishlist</a>
                <a href="/detail-tab" class="list-group-item list-group-item-action sub">Product Detail with Tab</a>
            </div>

            <a href="#pages" class="list-group-item list-group-item-action sub toggle" data-toggle="collapse" aria-expanded="false">MORE &#9662;</a>

            <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-question-circle fa-lg fa-fw"></i> Help</a>
            <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-plus-circle fa-lg fa-fw"></i> Start Selling</a>
        </div>
        <div class="small p-3">Copyright © 2018 Mimity All right reserved</div>
    </div>
    <!-- /Sidebar -->
    <div class="col" id="main-content">

        <!-- 404 Content -->
        <div class="text-center">
            <div class="display-2"><i class="fa fa-compass"></i></div>
            <h1>OOPS! ERROR 404 PAGE NOT FOUND</h1>
            <h4>The page you were looking for doesn't exist.</h4>
            <div class="btn-group btn-group-sm mt-3 mb-5" role="group">
                <a class="btn btn-outline-info" href="javascript:history.back()" role="button"><i class="fa fa-arrow-left"></i> Go Back</a>
                <a class="btn btn-info" href="/" role="button"><i class="fa fa-home"></i> Home</a>
            </div>
            <p>
                {{error.stack}}
            </p>
            <p>Think this is an error? Please <a href="/contact"><u>let us know.</u></a></p>
        </div>
        <!-- /404 Content -->
    </div>
</div>