 <div class="row">
     <div class="col" id="main-content">

         <div class="card user-card">
             <div class="card-body">
                 <div class="media">
                     <img src="images/user.svg" class="img-thumbnail rounded-circle" alt="John Thor">
                     <div class="media-body ml-3 pt-4">
                         <h4>John Thor</h4>
                         <div class="small text-muted">Joined Dec 31, 2017</div>
                         <div class="small text-muted">Points: 100</div>
                     </div>
                 </div>
                 <hr>
                 <ul class="nav nav-pills">
                     <li class="nav-item">
                         <a class="nav-link" href="/account-profile">Profile</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/account-order">Orders</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link active" href="/account-address">Address</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/account-wishlist">Wishlist</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="account-sell">Sell</a>
                     </li>
                 </ul>              <hr>
                 <h3 class="title">Address</h3>
                 <table class="table mb-3 table-sm">
                     <tbody>
                     <tr>
                         <td class="border-top-0">
                             <label>Line one</label>
                             <input id="addrLineOne" class="form-control col-sm-6" type="text">
                         </td>
                     </tr>
                     <tr>
                         <td class="border-top-0">
                             <label>Line two</label>
                             <input id="addrLineTwo" class="form-control col-sm-6" type="text">
                         </td>
                     </tr>
                     <tr>
                         <td class="border-top-0">
                             <label>City</label>
                             <input id="city" class="form-control col-sm-2" type="text">
                         </td>
                     </tr>
                     <tr>
                         <td class="border-top-0">
                             <label>Country</label>
                             <input id="country" class="form-control col-sm-2" type="text">
                         </td>
                     </tr>
                     <tr>
                         <td class="border-top-0">
                             <label>Password</label>
                             <input id="password" class="form-control col-sm-4" type="password">
                         </td>
                     </tr>

                     <tr>
                         <td class="border-top-0">
                             <br>
                             <button type="button" class="btn btn-success" id="saveAddrBtn">Save</button>
                         </td>
                     </tr>

                     </tbody>
                 </table>
             </div>
         </div>
     </div>
 </div>

 <script>
     $(document).ready(function () {
         $.ajax({
             type: "GET",
             url: "/api/users/{{username}}",
             success: function (data) {
                 $("#addrLineOne").val(data[0].addressOne);
                 $("#addrLineTwo").val(data[0].addressTwo);
                 $("#city").val(data[0].city);
                 $("#country").val(data[0].country);
             }
         });

         $("#saveAddrBtn").click(function (e) {
             e.preventDefault();

             var lineOne = $("#addrLineOne").val();
             var lineTwo = $("#addrLineTwo").val();
             var city = $("#city").val();
             var country = $("#country").val();
             var password = $("#country").val();

             $.ajax({
                 url: "/api/users/{{username}}",
                 type: "PUT",
                 data: {
                     password: password,
                     addressOne: lineOne,
                     addressTwo: lineTwo,
                     city: city,
                     country: country,
                 },
                 success: function () {
                     window.location.reload();
                 }
             });
         });

     });
 </script>