<script src="javascript/user.js"></script>

<div class="row">
    <div class="col" id="main-content">

        <div class="card user-card">
            <div class="card-body">
                <div class="media">
                    <img src="images/user.svg" class="img-thumbnail rounded-circle">
                    <div class="media-body ml-3 pt-4">
                        <h4 id="full-name"></h4>
                        <div class="small text-muted">Joined Dec 31, 2017</div>
                    </div>
                </div>
                <hr>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="account-profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="account-order">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="account-address">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="account-wishlist">Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="account-sell">Sell</a>
                    </li>
                </ul>              <hr>
                <form>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="profileFirstName">First Name</label>
                            <input type="text" class="form-control" id="profileFirstName">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="profileLastName">Last Name</label>
                            <input type="text" class="form-control" id="profileLastName">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="profileEmail">Email address</label>
                            <input type="email" class="form-control" id="profileEmail">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="profilePhone">Phone Number</label>
                            <input type="number" class="form-control" id="profilePhone">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="profilePassword">Password</label>
                            <input type="password" class="form-control" id="profilePassword">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="profileConfirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="profileConfirmPassword">
                        </div>
                        <div id="passError" class="error col-sm-12"></div>
                        <div class="form-group col-12">
                            <button type="button" class="btn btn-success" id="saveBtn" disabled="true">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/users/{{username}}",
            success: function (data) {
                $("#profileFirstName").val(data[0].firstname);
                $("#profileLastName").val(data[0].lastname);
                $("#profileEmail").val(data[0].emailAddress);
                $("#profilePhone").val(data[0].phoneNo);
                $("#full-name").html(data[0].firstname + " " + data[0].lastname);
            }
        });

    });
</script>