<div class="row" style="margin-top: 100px;">
    <div class="col" id="main-content">

        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-8 col-12">


                <nav class="d-flex justify-content-center mb-4">
                    <div class="btn-group nav" role="tablist">
                        <a class="btn btn-outline-dark active show" data-toggle="tab" href="#ticket" id="ticket-tab" role="tab" aria-controls="ticket" aria-selected="true">Add Ticket</a>
                        <a class="btn btn-outline-dark show" data-toggle="tab" href="#event" id="event-tab" role="tab" aria-controls="event" aria-selected="false">Add Event</a>
                    </div>
                </nav>

                <div id="alert">
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade active show" id="ticket" role="tabpanel" aria-labelledby="ticket-tab">
                        <div class="card shadow-sm card-ticket-form">
                            <div class="container">
                                <div class="card-body">
                                    <div class="col-md-5 mx-auto">
                                        <form id="ticket-form">
                                            <div class="form-group text-center">Ticket to your account</div>
                                            <div id="ticket-error" class="ticket-error col-md-12"></div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="ticketUsername" placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" id="ticketPassword" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="remember">
                                                    <label class="custom-control-label" for="remember">Remember me</label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-outline-dark btn-block">LOGIN</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <form id="event-form">
                                    <div class="form-row">
                                        <div class="form-group col-sm-12">
                                            <label for="eventName">*Event Name</label>
                                            <input type="text" class="form-control" id="eventName">
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label for="eventDesc">*Description</label>
                                            <textarea type="text" class="form-control" id="eventDesc"></textarea>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="eventStartDate">*Start Date</label>
                                            <input type="date" class="form-control" id="eventStartDate">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="eventEndDate">*End Date</label>
                                            <input type="date" class="form-control" id="eventEndDate">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="eventCat">*Category</label>
                                            <input type="text" class="form-control" id="eventCat">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="eventVenue">*Venue</label>
                                            <input type="text" class="form-control" id="eventVenue">
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label for="eventAddress">*Address</label>
                                            <input type="text" class="form-control" id="eventAddress">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="eventHeader">*Header</label>
                                            <input type="file" class="form-control" id="eventHeader">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="eventLogo">*Logo</label>
                                            <input type="file" class="form-control" id="eventLogo">
                                        </div>
                                        <div id="error" class="error col-sm-12"></div>
                                        <div class="col-md-5 mx-auto">
                                            <button type="submit" class="btn btn-outline-dark btn-block" id="eventBtn">SUBMIT REQUEST</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="javascript/addTicketEvent.js"></script>
