<div class="row">
    <div class="col" id="main-content">

        <div class="card-columns category-columns">

            <!-- Computers & Accessories -->
            <div class="card">
                <a href="/grid">
                    <img class="card-img-top" src="images/categories/1.jpeg" alt="Computers &amp; Accessories">
                    <div class="card-body bg-pink text-white">
                        <h5 class="mb-0">Computers &amp; Accessories</h5>
                    </div>
                </a>
                <div class="list-group list-group-flush">
                    <a href="/grid" class="list-group-item list-group-item-action">Laptops</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Desktops</a>
                    <a href="/grid" class="list-group-item list-group-item-action">PC Gaming</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Monitors</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Tablets</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Computer Accessories</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Networking</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Computer Components</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Storage &amp; Hard Drives</a>
                </div>
            </div>

            <!-- Cell Phones & Accessories -->
            <div class="card">
                <a href="/grid">
                    <img class="card-img-top" src="images/categories/2.jpeg" alt="Cell Phones &amp; Accessories">
                    <div class="card-body bg-primary text-white">
                        <h5 class="mb-0">Cell Phones &amp; Accessories</h5>
                    </div>
                </a>
                <div class="list-group list-group-flush">
                    <a href="/grid" class="list-group-item list-group-item-action">Cell Phones</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Cases,  Holsters &amp; Sleevs</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Accessories</a>
                    <a href="/grid" class="list-group-item list-group-item-action">SIM Cards &amp; Prepaid Minutes</a>
                </div>
            </div>

            <!-- Photography & Videography -->
            <div class="card">
                <a href="/grid">
                    <img class="card-img-top" src="images/categories/3.jpeg" alt="Photography &amp; Videography">
                    <div class="card-body bg-purple text-white">
                        <h5 class="mb-0">Photography &amp; Videography</h5>
                    </div>
                </a>
                <div class="list-group list-group-flush">
                    <a href="/grid" class="list-group-item list-group-item-action">Digital SLRs</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Mirrorless Cameras</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Point-and-Shoots</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Lenses</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Camcorders</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Photography Drones</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Security Cameras</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Optics</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Accessories</a>
                </div>
            </div>

            <!-- Home Entertainment -->
            <div class="card">
                <a href="/grid">
                    <img class="card-img-top" src="images/categories/4.jpeg" alt="Home Entertainment">
                    <div class="card-body bg-info text-white">
                        <h5 class="mb-0">Home Entertainment</h5>
                    </div>
                </a>
                <div class="list-group list-group-flush">
                    <a href="/grid" class="list-group-item list-group-item-action">Televisions</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Projectors</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Blu-ray Players</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Streaming Media Players</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Home Audio</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Audio &amp; Video Accessories</a>
                </div>
            </div>

            <!-- Video Games -->
            <div class="card">
                <a href="/grid">
                    <img class="card-img-top" src="images/categories/5.jpeg" alt="Video Games">
                    <div class="card-body bg-success text-white">
                        <h5 class="mb-0">Video Games</h5>
                    </div>
                </a>
                <div class="list-group list-group-flush">
                    <a href="/grid" class="list-group-item list-group-item-action">Playstation</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Xbox One</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Xbox 360</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Nintendo Switch</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Wii</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Accessories</a>
                </div>
            </div>

            <!-- Headphones -->
            <div class="card">
                <a href="/grid">
                    <img class="card-img-top" src="images/categories/6.jpeg" alt="Headphones">
                    <div class="card-body bg-warning text-dark">
                        <h5 class="mb-0">Headphones</h5>
                    </div>
                </a>
                <div class="list-group list-group-flush">
                    <a href="/grid" class="list-group-item list-group-item-action">In Ear Earbud Headphones</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Over-Ear Headphones</a>
                    <a href="/grid" class="list-group-item list-group-item-action">On-Ear Headphones</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Bluetooth Headphones</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Sports and Fitness Headphones</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Noise-cancelling Headphones</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Premium Audio Headphones</a>
                    <a href="/grid" class="list-group-item list-group-item-action">DJ/Professional Headphones</a>
                </div>
            </div>

            <!-- Office Electronics -->
            <div class="card">
                <a href="/grid">
                    <img class="card-img-top" src="images/categories/7.jpeg" alt="Office Electronics">
                    <div class="card-body bg-brown text-white">
                        <h5 class="mb-0">Office Electronics</h5>
                    </div>
                </a>
                <div class="list-group list-group-flush">
                    <a href="/grid" class="list-group-item list-group-item-action">Printers &amp; Print Supplies</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Projectors</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Scanners</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Calculators</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Desk Organization</a>
                </div>
            </div>

            <!-- Office Supplies -->
            <div class="card">
                <a href="/grid">
                    <img class="card-img-top" src="images/categories/8.jpeg" alt="Office Supplies">
                    <div class="card-body bg-danger text-white">
                        <h5 class="mb-0">Office Supplies</h5>
                    </div>
                </a>
                <div class="list-group list-group-flush">
                    <a href="/grid" class="list-group-item list-group-item-action">Writing</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Calendars &amp; Planners</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Notebook &amp; Pads</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Filing Products</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Paper</a>
                    <a href="/grid" class="list-group-item list-group-item-action">Presentation</a>
                </div>
            </div>

        </div>
    </div>
</div>