 <div class="row">
        <div class="col" id="main-content">

          <div class="row">
            <div class="col-md-8">
              <h3 class="title"><i class="fa fa-credit-card"></i> Payment</h3>
              <span class="text-muted">Step 2 of 3</span>
              <hr>
              <div class="bg-light p-3 border shadow-sm">
                <ul class="nav nav-pills payment-nav mb-4" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="cc-tab" data-toggle="pill" href="#cc" role="tab" aria-controls="cc" aria-selected="true">
                      <i class="fa fa-fw fa-credit-card"></i> Pay with Credit Card
                    </a>
                  </li>
                </ul>
                  <div id="alert"></div>
                  <div class="tab-content">
                  <div class="tab-pane fade show active" id="cc" role="tabpanel" aria-labelledby="cc-tab">
                    <div class='card-wrapper mb-3'></div>
                    <form id="ccForm">
                      <div class="form-row">
                        <div class="form-group col-sm-6">
                          <input id="cardNo" type="text" name="number" class="form-control" placeholder="Card Number">
                        </div>
                        <div class="form-group col-sm-6">
                          <input id="name" type="text" name="name" class="form-control" placeholder="Full Name">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-sm-3">
                          <input id="expiry" type="text" name="expiry" class="form-control" placeholder="Expiry Date">
                        </div>
                        <div class="form-group col-sm-3">
                          <input id="cvc" type="text" name="cvc" class="form-control" placeholder="CVC Code">
                        </div>
                        <div class="form-group col-sm-6">
                          <a id="checkout-2" class="btn btn-primary btn-block">NEXT <i class="fa fa-angle-right"></i></a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 pt-5">
              <h4 class="title mb-3">Order summary</h4>
                {{#each cart}}
                    <div class="media border-bottom mb-3">
                        <div class="media-body ml-3">
                            <h6 class="{{ticketID}}-name"></h6>
                            <div>{{quantity}} x <span class="price {{ticketID}}-price"></span></div>
                        </div>
                    </div>
                {{/each}}
              <hr>
              <div class="box-total">
                  <h4>TOTAL</h4>
                  <h4><span class="price subtotal"></span></h4>
              </div>
            </div>
          </div>
        </div>
 </div>
 <script src="javascript/checkout.js"></script>