<div class="row">
    <div class="col" id="main-content">

        <div class="row">
            <div class="col-sm-7 col-md-8">
                <h3 class="title"><i class="fa fa-list"></i> Review your order</h3>
                <span class="text-muted">Step 3 of 3</span>
                <hr>
                <div class="media border-bottom mb-3">
                    <img src="images/product/1.jpg" width="50" height="50" alt="NEW Microsoft Surface Go">
                    <div class="media-body ml-3">
                        <h6>NEW Microsoft Surface Go</h6>
                        <div>1 x <span class="price">$549.00</span></div>
                    </div>
                </div>
                <div class="media border-bottom mb-3">
                    <img src="images/product/3.jpg" width="50" height="50" alt="SanDisk Cruzer CZ36 64GB USB 2.0 Flash Drive">
                    <div class="media-body ml-3">
                        <h6>SanDisk Cruzer CZ36 64GB USB 2.0 Flash Drive</h6>
                        <div>1 x <span class="price">$13.49</span></div>
                    </div>
                </div>
                <div class="media border-bottom mb-3">
                    <img src="images/product/8.jpg" width="50" height="50" alt="Beats Studio3 Wireless Headphones">
                    <div class="media-body ml-3">
                        <h6>Beats Studio3 Wireless Headphones</h6>
                        <div>1 x <span class="price">$299.99</span></div>
                    </div>
                </div>
                <div class="media border-bottom mb-3">
                    <img src="images/product/12.jpg" width="50" height="50" alt="Essential Phone in Halo Gray - 128 GB Unlocked">
                    <div class="media-body ml-3">
                        <h6>Essential Phone in Halo Gray - 128 GB Unlocked</h6>
                        <div>1 x <span class="price">$435.00</span></div>
                    </div>
                </div>
                <a href="/cart" class="btn btn-outline-secondary btn-sm">Edit Cart</a>
            </div>
            <div class="col-sm-5 col-md-4 pt-5">
                <h4>Shipping to</h4>
                <div>John Thor</div>
                <div>212 Lorem Ipsum. Dolor Sit, Amet</div>
                <div>client@example.com</div>
                <div>+123-456-789</div>
                <hr>
                <h4>Payment Method</h4>
                <p>Credit Card: **** **** **** 4567</p>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>Items</span>
                    <span>$200.00</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Estimated tax</span>
                    <span>$20.00</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Shipping</span>
                    <span>$9.95</span>
                </div>
                <hr>
                <div class="box-total">
                    <h4>TOTAL</h4>
                    <h4><span class="price">$1,297.48</span></h4>
                </div>
                <hr>
                <a href="/checkout-complete" class="btn btn-primary btn-block">COMPLETE MY ORDER</a>
            </div>
        </div>
    </div>
</div>