<div class="row">
    <div class="col" id="main-content">

        <div class="row">
            <div class="col-sm-7 col-md-8">
                <h3 class="title"><i class="fa fa-map-marker"></i> Delivery address</h3>
                <span class="text-muted">Step 1 of 3</span>
                <hr>
                <form class="bg-light p-3 border shadow-sm">
                    <div class="form-group">
                        <label for="checkoutName">Name</label>
                        <input type="text" class="form-control" id="checkoutName">
                    </div>
                    <div class="form-group">
                        <label for="checkoutAddr1">Address Line 1</label>
                        <input type="text" class="form-control" id="checkoutAddr1">
                    </div>
                    <div class="form-group">
                        <label for="checkoutAddr2">Address Line 2</label>
                        <input type="email" class="form-control" id="checkoutAddr2" aria-describedby="addr2Help">
                        <small id="addr2Help" class="form-text text-muted">Apartment, unit, floor, etc. Also Care of, Leave at, etc.</small>
                    </div>
                    <div class="form-group">
                        <label for="checkoutCity">City</label>
                        <input type="text" class="form-control" id="checkoutCity">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="checkoutState">State</label>
                            <select class="custom-select" id="checkoutState">
                                <option> -- select state</option>
                                <option>Alabama</option>
                                <option>Alaska</option>
                                <option>Arizona</option>
                                <option>Arkansas</option>
                                <option>California</option>
                                <option>Colorado</option>
                                <option>Connecticut</option>
                                <option>Delaware</option>
                                <option>District of Columbia</option>
                                <option>Florida</option>
                                <option>Georgia</option>
                                <option>Hawaii</option>
                                <option>Idaho</option>
                                <option>Illinois</option>
                                <option>Indiana</option>
                                <option>Iowa</option>
                                <option>Kansas</option>
                                <option>Kentucky</option>
                                <option>Louisiana</option>
                                <option>Maine</option>
                                <option>Maryland</option>
                                <option>Massachusetts</option>
                                <option>Michigan</option>
                                <option>Minnesota</option>
                                <option>Mississippi</option>
                                <option>Missouri</option>
                                <option>Montana</option>
                                <option>Nebraska</option>
                                <option>Nevada</option>
                                <option>New Hampshire</option>
                                <option>New Jersey</option>
                                <option>New Mexico</option>
                                <option>New York</option>
                                <option>North Carolina</option>
                                <option>North Dakota</option>
                                <option>Ohio</option>
                                <option>Oklahoma</option>
                                <option>Oregon</option>
                                <option>Pennsylvania</option>
                                <option>Rhode Island</option>
                                <option>South Carolina</option>
                                <option>South Dakota</option>
                                <option>Tennessee</option>
                                <option>Texas</option>
                                <option>Utah</option>
                                <option>Vermont</option>
                                <option>Virginia</option>
                                <option>Washington</option>
                                <option>West Virginia</option>
                                <option>Wisconsin</option>
                                <option>Wyoming</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="checkoutZIP">ZIP Code</label>
                            <input type="text" class="form-control" id="checkoutZIP">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="checkoutPhone">Phone</label>
                        <input type="text" class="form-control" id="checkoutPhone">
                    </div>
                    <div class="form-group">
                        <label>SELECT SHIPPING METHOD</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
                            <label class="custom-control-label" for="customRadio1">Standard Delivery</label>
                            <span class="float-right">$9.95</span>
                            <small class="form-text text-muted">(3 - 6 business days)</small>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">Premium Delivery</label>
                            <span class="float-right">$19.95</span>
                            <small class="form-text text-muted">(2 - 3 business days)</small>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio3">Express Delivery</label>
                            <span class="float-right">$29.95</span>
                            <small class="form-text text-muted">(1 - 2 business days)</small>
                        </div>
                    </div>
                    <a href="/checkout-2" class="btn btn-primary">NEXT <i class="fa fa-angle-right"></i></a>
                </form>
            </div>
            <div class="col-sm-5 col-md-4 pt-5">
                <h4 class="title mb-3">Order summary</h4>
                <div class="media border-bottom mb-3">
                    <img src="images/product/1.jpg" width="50" height="50" alt="NEW Microsoft Surface Go">
                    <div class="media-body ml-3">
                        <h6>NEW Microsoft Surface Go</h6>
                        <div>1 x <span class="price">$549.00</span></div>
                    </div>
                </div>
                <div class="media border-bottom mb-3">
                    <img src="images/product/3.jpg" width="50" height="50" alt="SanDisk Cruzer CZ36 64GB USB 2.0 Flash Drive">
                    <div class="media-body ml-3">
                        <h6>SanDisk Cruzer CZ36 64GB USB 2.0 Flash Drive</h6>
                        <div>1 x <span class="price">$13.49</span></div>
                    </div>
                </div>
                <div class="media border-bottom mb-3">
                    <img src="images/product/8.jpg" width="50" height="50" alt="Beats Studio3 Wireless Headphones">
                    <div class="media-body ml-3">
                        <h6>Beats Studio3 Wireless Headphones</h6>
                        <div>1 x <span class="price">$299.99</span></div>
                    </div>
                </div>
                <div class="media border-bottom mb-3">
                    <img src="images/product/12.jpg" width="50" height="50" alt="Essential Phone in Halo Gray - 128 GB Unlocked">
                    <div class="media-body ml-3">
                        <h6>Essential Phone in Halo Gray - 128 GB Unlocked</h6>
                        <div>1 x <span class="price">$435.00</span></div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Items</span>
                    <span>$1,297.48</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Estimated tax</span>
                    <span>$20.00</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Shipping</span>
                    <span>$9.95</span>
                </div>
                <hr>
                <div class="box-total">
                    <h4>TOTAL</h4>
                    <h4><span class="price">$1,297.48</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>