 <div class="row">
      <div class="col" id="main-content">

          <h3>Product Comparison</h3>

          <div class="table-responsive">
            <table class="table table-bordered text-center table-wishlist">
              <thead>
                <tr>
                                    <th>
                    <p><a href="/detail"><img src="images/product/2.jpg" width="75" height="75" alt="Apple 15.4&quot; MacBook Pro Laptop Space Gray"></a></p>
                    <p><a href="/detail" class="text-body">Apple 15.4&quot; MacBook Pro Laptop Space Gray</a></p>
                    <div class="btn-group btn-group-sm" role="group">
                      <button type="button" class="btn btn-outline-info"><i class="fa fa-close"></i></button>
                      <button type="button" class="btn btn-outline-info">Add to cart</button>
                    </div>
                  </th>
                                    <th>
                    <p><a href="/detail"><img src="images/product/4.jpg" width="75" height="75" alt="Sony Alpha a6500 Mirrorless Digital Camera"></a></p>
                    <p><a href="/detail" class="text-body">Sony Alpha a6500 Mirrorless Digital Camera</a></p>
                    <div class="btn-group btn-group-sm" role="group">
                      <button type="button" class="btn btn-outline-info"><i class="fa fa-close"></i></button>
                      <button type="button" class="btn btn-outline-info">Add to cart</button>
                    </div>
                  </th>
                                    <th>
                    <p><a href="/detail"><img src="images/product/6.jpg" width="75" height="75" alt="Xbox One X 1TB Console - PUBG Bundle"></a></p>
                    <p><a href="/detail" class="text-body">Xbox One X 1TB Console - PUBG Bundle</a></p>
                    <div class="btn-group btn-group-sm" role="group">
                      <button type="button" class="btn btn-outline-info"><i class="fa fa-close"></i></button>
                      <button type="button" class="btn btn-outline-info">Add to cart</button>
                    </div>
                  </th>
                                  </tr>
              </thead>
              <tbody>
                <tr>
                                    <td>
                    <strong>Price:</strong>
                    <div>$2,720.38</div>
                  </td>
                                    <td>
                    <strong>Price:</strong>
                    <div>$1,098.00</div>
                  </td>
                                    <td>
                    <strong>Price:</strong>
                    <div>$499.99</div>
                  </td>
                                  </tr>
                <tr>
                  <td>
                    <strong>Model:</strong>
                    <div>Model 1</div>
                  </td>
                  <td>
                    <strong>Model:</strong>
                    <div>Model 2</div>
                  </td>
                  <td>
                    <strong>Model:</strong>
                    <div>Model 3</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Brand:</strong>
                    <div>Brand 1</div>
                  </td>
                  <td>
                    <strong>Brand:</strong>
                    <div>Brand 2</div>
                  </td>
                  <td>
                    <strong>Brand:</strong>
                    <div>Brand 3</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Availability:</strong>
                    <div>Availabel 1</div>
                  </td>
                  <td>
                    <strong>Availability:</strong>
                    <div>Availabel 2</div>
                  </td>
                  <td>
                    <strong>Availability:</strong>
                    <div>Availabel 3</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Rating:</strong>
                    <div><div class="rating" data-value="2"></div></div>
                    <a href="#" class="text-muted small">(2 reviews)</a>
                  </td>
                  <td>
                    <strong>Rating:</strong>
                    <div><div class="rating" data-value="3"></div></div>
                    <a href="#" class="text-muted small">(3 reviews)</a>
                  </td>
                  <td>
                    <strong>Rating:</strong>
                    <div><div class="rating" data-value="4"></div></div>
                    <a href="#" class="text-muted small">(4 reviews)</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="btn-group btn-group-sm" role="group">
                      <button type="button" class="btn btn-outline-info"><i class="fa fa-close"></i></button>
                      <button type="button" class="btn btn-outline-info">Add to cart</button>
                    </div>
                  </td>
                  <td>
                    <div class="btn-group btn-group-sm" role="group">
                      <button type="button" class="btn btn-outline-info"><i class="fa fa-close"></i></button>
                      <button type="button" class="btn btn-outline-info">Add to cart</button>
                    </div>
                  </td>
                  <td>
                    <div class="btn-group btn-group-sm" role="group">
                      <button type="button" class="btn btn-outline-info"><i class="fa fa-close"></i></button>
                      <button type="button" class="btn btn-outline-info">Add to cart</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
 </div>