<div class="row">

    <!-- Sidebar -->
    <div class="col" id="main-sidebar">
        <div class="list-group list-group-flush">
            <a href="/" class="list-group-item list-group-item-action"><i class="fa fa-home fa-lg fa-fw"></i> Home</a>
            <a href="/grid" class="list-group-item list-group-item-action"><i class="fa fa-star fa-lg fa-fw text-warning"></i> Editor's Choice</a>
            <a href="/categories" class="list-group-item list-group-item-action"><i class="fa fa-th fa-lg fa-fw"></i> Categories</a>
            <a href="/grid" class="list-group-item list-group-item-action sub active">Computers</a>
            <a href="/grid" class="list-group-item list-group-item-action sub">Cell Phones</a>
            <a href="/grid" class="list-group-item list-group-item-action sub">Photography</a>
            <a href="/grid" class="list-group-item list-group-item-action sub">Home Entertainment</a>
            <a href="/grid" class="list-group-item list-group-item-action sub">Video Games</a>
            <div class="collapse" id="categories">
                <a href="/grid" class="list-group-item list-group-item-action sub">Headphones</a>
                <a href="/grid" class="list-group-item list-group-item-action sub">Office Electronics</a>
                <a href="/grid" class="list-group-item list-group-item-action sub">Office Supplies</a>
                <a href="/grid" class="list-group-item list-group-item-action sub">Musical Instruments</a>
            </div>
            <a href="#categories" class="list-group-item list-group-item-action sub toggle" data-toggle="collapse" aria-expanded="false">MORE &#9662;</a>
            <a href="/about" class="list-group-item list-group-item-action"><i class="fa fa-list fa-lg fa-fw"></i> Other Pages</a>
            <a href="/about" class="list-group-item list-group-item-action sub">About Us</a>
            <a href="/cart" class="list-group-item list-group-item-action sub">Cart</a>
            <a href="/checkout" class="list-group-item list-group-item-action sub">Checkout</a>
            <a href="/compare" class="list-group-item list-group-item-action sub">Compare</a>
            <a href="/contact" class="list-group-item list-group-item-action sub">Contact Us</a>
            <a href="/404" class="list-group-item list-group-item-action sub">Error 404</a>
            <a href="/faq" class="list-group-item list-group-item-action sub">FAQ</a>
            <a href="/login" class="list-group-item list-group-item-action sub">Login / Register</a>

            <div class="collapse" id="pages">

                <a href="/account-profile" class="list-group-item list-group-item-action sub">My Profile</a>
                <a href="/account-order" class="list-group-item list-group-item-action sub">My Orders</a>
                <a href="/account-address" class="list-group-item list-group-item-action sub">My Address</a>
                <a href="/account-wishlist" class="list-group-item list-group-item-action sub">My Wishlist</a>
                <a href="/detail-tab" class="list-group-item list-group-item-action sub">Product Detail with Tab</a>
            </div>

            <a href="#pages" class="list-group-item list-group-item-action sub toggle" data-toggle="collapse" aria-expanded="false">MORE &#9662;</a>

            <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-question-circle fa-lg fa-fw"></i> Help</a>
            <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-plus-circle fa-lg fa-fw"></i> Start Selling</a>
        </div>
        <div class="small p-3">Copyright © 2018 Mimity All right reserved</div>
    </div>
    <!-- /Sidebar -->
    <div class="col" id="main-content">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" class="text-info">Home</a></li>
                <li class="breadcrumb-item"><a href="/grid" class="text-info">Computers &amp; Accessories</a></li>
                <li class="breadcrumb-item active" aria-current="page">Laptops</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row">
            <div class="col-md-7">
                <div class="img-detail-wrapper">
                    <img src="images/product/detail/1.jpg" class="img-fluid px-5" id="img-detail" alt="Responsive image" data-index="0">
                    <div class="img-detail-list">
                        <a href="#" class="active"><img src="images/product/detail/1_small.jpg" data-large-src="images/product/detail/1.jpg" alt="Product" data-index="0"></a>
                        <a href="#"><img src="images/product/detail/2_small.jpg" data-large-src="images/product/detail/2.jpg" alt="Product" data-index="1"></a>
                        <a href="#"><img src="images/product/detail/3_small.jpg" data-large-src="images/product/detail/3.jpg" alt="Product" data-index="2"></a>
                        <a href="#"><img src="images/product/detail/4_small.jpg" data-large-src="images/product/detail/4.jpg" alt="Product" data-index="3"></a>
                        <a href="#"><img src="images/product/detail/5_small.jpg" data-large-src="images/product/detail/5.jpg" alt="Product" data-index="4"></a>
                        <a href="#"><img src="images/product/detail/6_small.jpg" data-large-src="images/product/detail/6.jpg" alt="Product" data-index="5"></a>
                        <a href="#"><img src="images/product/detail/7_small.jpg" data-large-src="images/product/detail/7.jpg" alt="Product" data-index="6"></a>
                        <a href="#"><img src="images/product/detail/8_small.jpg" data-large-src="images/product/detail/8.jpg" alt="Product" data-index="7"></a>
                        <a href="#"><img src="images/product/detail/9_small.jpg" data-large-src="images/product/detail/9.jpg" alt="Product" data-index="8"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="detail-header">
                    <h3>NEW Microsoft Surface Go</h3>
                    <h6><span class="rating" data-value="4.5"></span> <a class="ml-1" href="#reviews">2 reviews</a></h6>
                    <h3 class="price">$ 549.00</h3>
                </div>
                <form>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <div class="input-spinner">
                            <input type="number" class="form-control" id="quantity" value="1" min="1" max="999">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-light"><i class="fa fa-chevron-up"></i></button>
                                <button type="button" class="btn btn-light"><i class="fa fa-chevron-down"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="d-block">RAM</label>
                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-success active">
                                <input type="radio" name="ram" checked>4GB
                            </label>
                            <label class="btn btn-outline-success">
                                <input type="radio" name="ram">8GB
                            </label>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label class="d-block">Storage</label>
                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-dark active">
                                <input type="radio" name="storage" checked>64GB
                            </label>
                            <label class="btn btn-outline-dark">
                                <input type="radio" name="storage">128GB
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-block">ADD TO CART</button>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="row mt-4">
            <div class="col">
                <h3>Description</h3>
                <p>New 10” Surface Go is perfect for all your daily tasks, giving you laptop performance with tablet portability, a stunning touchscreen, and the Windows and Office experience you know. From email, browsing, and home projects to unwinding with a favorite TV show, Surface Lingo is by your side wherever you are — with up to 9 hours1 of battery life, built-in HD cameras, hassle-free connectivity, and all the ports you need, including multi-tasking USB-C.</p>
                <p>Disclaimers:</p>
                <ul>
                    <li>
                        Battery
                        <p>life: Up to 9 hours of video playback. Testing conducted by Microsoft in June 2018] using preproduction Intel Pentium Gold 4415Y Processor, 128GB, 8GB RAM device. Testing consisted of full battery discharge during video playback. All settings were default except: Wi-Fi was associated with a network and Auto-Brightness disabled. Battery life varies significantly with settings, usage, and other factors.</p>
                    </li>
                    <li>
                        Windows
                        <p>10 in S Mode works exclusively with apps from the Microsoft Store within Windows. Certain default settings, features, and apps cannot be changed. Some accessories and apps compatible with Windows 10 may not work (including some antivirus and accessibility apps), and performance may vary. If you switch to Windows 10 Pro configuration (fee may apply), you can’t switch back to Windows 10 in S Mode. Learn more at Windows.com/Windows10SFAQ.</p>
                    </li>
                </ul>
                <p>Tech Specs</p>
                <ul>
                    <li>10” PixelSense Display</li>
                    <li>Intel Pentium Gold</li>
                    <li>4GB or 8GB RAM</li>
                    <li>64GB or 128GB Storage</li>
                    <li>Weight starting at 1.15 lbs</li>
                    <li>Up to 9 hours battery life</li>
                </ul>
                <hr>

                <!-- Similar Items -->
                <h3>Similar Items</h3>
                <div class="content-slider">
                    <div class="swiper-container" id="popular-slider">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="row no-gutters gutters-2">
                                    <div class="col-6 col-md-3 mb-2">
                                        <div class="card card-product">
                                            <div class="badge badge-success badge-pill">save $89.01</div>
                                            <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                            <a href="/detail"><img src="images/product/9.jpg" alt="ASUS VivoBook F510UA FHD Laptop" class="card-img-top"></a>
                                            <div class="card-body">
                                                <span class="price"><del class="small text-muted">$599.00</del> $509.99</span>
                                                <a href="/detail" class="card-title h6">ASUS VivoBook F510UA FHD Laptop</a>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="rating" data-value="4"></span>
                                                    <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 mb-2">
                                        <div class="card card-product">
                                            <div class="ribbon"><span class="bg-pink text-white">Hot</span></div>
                                            <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                            <a href="/detail"><img src="images/product/10.jpg" alt="Nikon D7200 DX-format DSLR Body (Black)" class="card-img-top"></a>
                                            <div class="card-body">
                                                <span class="price">$996.95</span>
                                                <a href="/detail" class="card-title h6">Nikon D7200 DX-format DSLR Body (Black)</a>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="rating" data-value="5"></span>
                                                    <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 mb-2">
                                        <div class="card card-product">
                                            <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                            <a href="/detail"><img src="images/product/11.jpg" alt="Polk Audio PSW10 10-Inch Powered Subwoofer" class="card-img-top"></a>
                                            <div class="card-body">
                                                <span class="price">$99.99</span>
                                                <a href="/detail" class="card-title h6">Polk Audio PSW10 10-Inch Powered Subwoofer</a>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="rating" data-value="4"></span>
                                                    <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 mb-2">
                                        <div class="card card-product">
                                            <div class="badge badge-danger badge-pill">Only 1 left in stock</div>
                                            <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                            <a href="/detail"><img src="images/product/12.jpg" alt="Essential Phone in Halo Gray – 128 GB Unlocked" class="card-img-top"></a>
                                            <div class="card-body">
                                                <span class="price"><del class="small text-muted">$499.99</del> $435.00</span>
                                                <a href="/detail" class="card-title h6">Essential Phone in Halo Gray – 128 GB Unlocked</a>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="rating" data-value="4"></span>
                                                    <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="row no-gutters gutters-2">
                                    <div class="col-6 col-md-3 mb-2">
                                        <div class="card card-product">
                                            <div class="badge badge-success badge-pill">save $89.01</div>
                                            <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                            <a href="/detail"><img src="images/product/9.jpg" alt="ASUS VivoBook F510UA FHD Laptop" class="card-img-top"></a>
                                            <div class="card-body">
                                                <span class="price"><del class="small text-muted">$599.00</del> $509.99</span>
                                                <a href="/detail" class="card-title h6">ASUS VivoBook F510UA FHD Laptop</a>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="rating" data-value="4"></span>
                                                    <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 mb-2">
                                        <div class="card card-product">
                                            <div class="ribbon"><span class="bg-pink text-white">Hot</span></div>
                                            <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                            <a href="/detail"><img src="images/product/10.jpg" alt="Nikon D7200 DX-format DSLR Body (Black)" class="card-img-top"></a>
                                            <div class="card-body">
                                                <span class="price">$996.95</span>
                                                <a href="/detail" class="card-title h6">Nikon D7200 DX-format DSLR Body (Black)</a>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="rating" data-value="5"></span>
                                                    <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 mb-2">
                                        <div class="card card-product">
                                            <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                            <a href="/detail"><img src="images/product/11.jpg" alt="Polk Audio PSW10 10-Inch Powered Subwoofer" class="card-img-top"></a>
                                            <div class="card-body">
                                                <span class="price">$99.99</span>
                                                <a href="/detail" class="card-title h6">Polk Audio PSW10 10-Inch Powered Subwoofer</a>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="rating" data-value="4"></span>
                                                    <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 mb-2">
                                        <div class="card card-product">
                                            <div class="badge badge-danger badge-pill">Only 1 left in stock</div>
                                            <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                            <a href="/detail"><img src="images/product/12.jpg" alt="Essential Phone in Halo Gray – 128 GB Unlocked" class="card-img-top"></a>
                                            <div class="card-body">
                                                <span class="price"><del class="small text-muted">$499.99</del> $435.00</span>
                                                <a href="/detail" class="card-title h6">Essential Phone in Halo Gray – 128 GB Unlocked</a>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="rating" data-value="4"></span>
                                                    <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <a href="#" role="button" class="carousel-control-prev" id="popular-slider-prev"><i class="fa fa-angle-left fa-lg"></i></a>
                    <a href="#" role="button" class="carousel-control-next" id="popular-slider-next"><i class="fa fa-angle-right fa-lg"></i></a>
                </div>              <!-- /Similar Items -->

                <hr>
                <h3 id="reviews">Reviews</h3>
                <div class="media align-items-center mb-3">
                    <h1 class="mb-0">4.5</h1>
                    <div class="media-body ml-2">
                        <div class="rating" data-value="4.5"></div>
                        <div>(2 reviews)</div>
                    </div>
                </div>
                <div class="media">
                    <img src="images/user.svg" width="50" height="50" alt="John Thor" class="rounded-circle">
                    <div class="media-body ml-3">
                        <h5 class="mb-0">John Thor</h5>
                        <span class="rating text-secondary" data-value="4"></span>
                        <small class="ml-2">15/07/2018</small>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi</p>
                    </div>
                </div>
                <div class="media">
                    <img src="images/user2.svg" width="50" height="50" alt="Michael Lelep" class="rounded-circle">
                    <div class="media-body ml-3">
                        <h5 class="mb-0">Michael Lelep</h5>
                        <span class="rating text-secondary" data-value="5"></span>
                        <small class="ml-2">15/07/2018</small>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi</p>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#reviewFormModal">Write a review</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Review Form Modal -->
<div class="modal fade" id="reviewFormModal" tabindex="-1" role="dialog" aria-labelledby="reviewFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewFormModalLabel">Write your review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="InputTitle">Title</label>
                        <input type="text" class="form-control" id="InputTitle" placeholder="Enter Title">
                    </div>
                    <div class="form-group">
                        <label for="inputDesc">Review</label>
                        <textarea class="form-control" id="inputDesc" rows="3" placeholder="Your review"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Rating</label>
                        <div id="star-rating" class="text-warning h5"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--LOST FUNCTIONALITY DUE TO TEMPLATE CONVERSION-->
<!-- Photoswipe container-->
<!--<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">-->
    <!--<div class="pswp__bg"></div>-->
    <!--<div class="pswp__scroll-wrap">-->
        <!--<div class="pswp__container">-->
            <!--<div class="pswp__item"></div>-->
            <!--<div class="pswp__item"></div>-->
            <!--<div class="pswp__item"></div>-->
        <!--</div>-->
        <!--LOST FUNCTIONALITY DUE TO CONVERSION-->
        <!--<div class="pswp__ui pswp__ui--hidden">-->
            <!--<div class="pswp__top-bar">-->
                <!--<div class="pswp__counter"></div>-->
                <!--<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>-->
                <!--<button class="pswp__button pswp__button--share" title="Share"></button>-->
                <!--<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>-->
                <!--<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>-->
                <!--<div class="pswp__preloader">-->
                    <!--<div class="pswp__preloader__icn">-->
                        <!--<div class="pswp__preloader__cut">-->
                            <!--<div class="pswp__preloader__donut"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!---->
            <!--<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">-->
                <!--<div class="pswp__share-tooltip"></div>-->
            <!--</div>-->
            <!--<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>-->
            <!--<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>-->
            <!--<div class="pswp__caption">-->
                <!--<div class="pswp__caption__center"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!-- PLUGINS FOR CURRENT PAGE -->
<script src="../plugins/raty-fa/jquery.raty-fa.min.js"></script>
<script src="../plugins/photoswipe/photoswipe.min.js"></script>
<script src="../plugins/photoswipe/photoswipe-ui-default.min.js"></script>