<script src="javascript/tickets.js"></script>

<div class="row">
    <div class="offset-md-3 col-md-6 justify-content-center" id="main-content">
        <div class="row">
            <div class="border col" style="margin-top: 20px">
                <form>
                    <!--Category Select-->
                    <div class="form-group mt-2">
                        <label for="categorySelect">Category</label>
                        <select class="form-control" id="categorySelect">
                            <option value="Music">Music</option>
                            <option value="Sports">Sports</option>
                            <option value="Comedy">Comedy</option>
                            <option value="eSports">eSports</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <!--/Category Select-->

                    <!-- Search -->

                    <div class="form-group">
                        <label class="" for="eventSearchForm">Name of the event</label>
                        <input type="text" class="form-control" placeholder="Search..." id="eventSearchForm">
                    </div>
                    <!-- /Search-->
                </form>

                <!--Search Results-->
                <div class="">
                    <label for="searchResults">Found Events:</label>
                </div>
                <div id="searchResults"></div>
                <!--/Search Rsults-->
            </div>
        </div>

        <div class="row mt-3">
            <span class="p-2">
<!--                <a href="/add-event"><span style="color:grey">My event is not here!</span></a>-->
            </span>
            <span class="ml-auto p-2" >
<!--                <button type="button" class="btn btn-success">Next</button>-->
                <a href="/add-event"><span style="color:grey">My event is not here!</span></a>
            </span>
        </div>

    </div>
</div>