<script src="javascript/ticket-sell.js"></script>

<div class="row">
    <div class="offset-md-3 col-md-6 justify-content-center" id="main-content">
        <div class="row row justify-content-center mt-4">
            <h2><strong>Sell Tickets</strong></h2>
        </div>

        <div class="row mt-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form id="event-form">

                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <span>Event: </span>
                                <a href="{{data._id}}"><strong>{{data.name}}</strong></a>
                            </div>
                        </div>

                        <div id="ticketsSell">
                            <div class="form-row">
                                <hr class="mb-3 hr-" width="100%">
                                <div class="form-group col-sm-12">
                                    <label for="ticketType">*Ticket type</label>
                                    <select class="form-control col-sm-5" id="ticketType">
                                        <option value="0">Digital</option>
                                        <option value="1">Physical</option>
                                        <option value="2">Both</option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="ticketType">*Assigned seats</label>
                                    <select class="form-control" id="ticketIfSeats">
                                        <option value="no">No - seats assigned on first come first served basis</option>
                                        <option value="yes">Yes - seat no. on the ticket</option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-6">
                                    <div style="margin-left: 5px; margin-top: 8%;">
                                        <label class="text-muted" for="diffSeats" disabled>Specify seats</label>
                                        <input type="checkbox" id="diffSeats" value="true" disabled>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="ticketNum">*Number of tickets</label>
                                    <input type="number" class="form-control" id="ticketNum">
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="ticketPrice">*Price</label>
                                    <input type="number" class="form-control" id="ticketPrice">
                                </div>


                                <div class="form-group col-sm-12">
                                    <label for="ticketDescription">Ticket description - optional</label>
                                    <textarea class="form-control" id="ticketDescription" rows="4" maxlength="600"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-sm-12 text-right -mt-4">
                                <span id="addAnother" style="cursor: pointer;">
                                    <span>Add another</span>
                                    <i class="far fa-plus-square" style="font-size: 20px;"></i>
                                 </span>
                            </div>

                            <div class="col-md-5 mx-auto">
                                <button type="submit" class="btn btn-outline-dark btn-block" id="eventBtn">SELL</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>