<script src="javascript/ticket-sell.js"></script>

<div class="row">
    <div class="offset-md-3 col-md-6 justify-content-center" id="main-content">
        <div class="row row justify-content-center mt-4">
            <h2><strong>Sell Tickets</strong></h2>
        </div>

        <div id="data-row-1" class="data-row" data-_id="{{data._id}}" data-username="{{username}}"></div>

        <div class="row mt-3">
            <div class="card shadow-sm" style="width: 100%">
                <div class="card-body">
                    <form id="event-form">

                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <span>Event: </span>
                                <a id="event" href="/event-detail?eventId={{data._id}}"><strong>{{data.name}}</strong></a>
                            </div>
                        </div>

                        <div id="ticketsSell">

                            <div class="form-row" id="tickets-1">
                                <hr class="mb-3 hr-" width="100%">

                                <div class="col-sm-12 d-flex justify-content-center text-center" id="alert-1">
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="type-1">*Ticket type</label>
                                    <select class="form-control col-sm-6" id="type-1">
                                        <option value="0">Digital</option>
                                        <option value="1">Physical</option>
                                        <option value="2">Both</option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="ifSeats-1">*Assigned seats</label>
                                    <select class="form-control" id="ifSeats-1" onchange="ifSeats()">
                                        <option value="no">No - seats assigned on first come first served basis</option>
                                        <option value="yes">Yes - seat no. on the ticket</option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-6">
                                    <div style="margin-left: 5px; margin-top: 8%;">
                                        <label class="text-very-muted" for="seatsSpecify-1" id="seatsSpecifyLabel-1" disabled="disabled">Specify seats</label>
                                        <input type="checkbox" id="seatsSpecify-1" disabled="disabled" onchange="specifySeats()">
                                    </div>
                                </div>

                                <div id="seatsInput-1">
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="number-1">*Number of tickets</label>
                                    <input type="number" class="form-control" id="number-1" min="1">
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="price-1">*Price</label>
                                    <input type="number" class="form-control" id="price-1" min="0">
                                </div>


                                <div class="form-group col-sm-12">
                                    <label for="description-1">Ticket description - optional</label>
                                    <textarea class="form-control" id="description-1" rows="4" maxlength="600"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-sm-12 text-right">
                                <span id="addAnother" style="cursor: pointer;">
                                    <span>Add another</span>
                                    <i class="far fa-plus-square" style="font-size: 20px;"></i>
                                 </span>
                            </div>

                            <div class="col-md-5 mx-auto mt-3">
                                <button type="submit" class="btn btn-outline-dark btn-block" id="eventBtn">SELL</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>