<div class="row">
    <div class="offset-md-3 col-md-6 justify-content-center" id="main-content">
        <div class="row">

            <div class="border col" style="margin-top: 20px">
                <form>
                    <label class="" for="eventSearchForm">Event Link</label>
<!--                    add event link-->
                    <p>ID: {{data._id}}</p>
                    <div class="form-group mt-2">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>